.button,
.btn-flat {
    height: auto;
    padding: 1.25rem 1.5rem;
    border: none;

    text-align: center;
    line-height: 1.25rem;
    font-family: $font-primary;
    font-weight: 600;
    font-size: 1.125rem;
    color: $white;

    @media #{$medium-and-up} {
        padding: 1rem 2rem;
    }

    &.primary {
        background: $accent-green;

        .waves-ripple {
            background: rgba( $white, 0.4 );
        }

        &:hover {
            background: darken( $accent-green, 10% );
            color: $white;
        }
    }

    &.secondary {
        background: $primary;

        .waves-ripple {
            background: rgba( $white, 0.4 );
        }

        &:hover {
            background: darken( $primary, 10% );
            color: $white;
        }
    }

    &.large {
        min-height: 100%;
        padding: 1.75rem 2rem;
        line-height: 1.5rem;
        font-size: 1.5rem;
    }

    &.medium {
        min-height: 3.5rem;
        padding: 1.25rem 2rem;

        @media #{$large-and-up} {
            padding: 1.75rem 2rem;
        }
    }
}