form {
    & > h1,
    & > h2,
    & > h3,
    & > h4 {
        margin-top: 0;
    }

    .input-field {
        margin-bottom: 0.5rem;

        input[type=text],
        .materialize-textarea {
            margin: 0 0 0.5rem;
            padding: 0.75rem 1rem;

            box-sizing: border-box;
            border: 0.0625rem solid $medium;
            border-radius: 0.125rem;

            & + label {
                padding: 0 1rem 0.75rem;

                box-sizing: border-box;
            }

            &:focus,
            &:focus:not([readonly]) {
                border-bottom: 0.0625rem solid $primary !important;
                box-shadow: 0 0.0625rem 0 0 $primary !important;

                & + label {
                    color: $primary !important;
                }

                &.invalid {
                    border-bottom: 0.0625rem solid $accent-red !important;
                    box-shadow: 0 0.0625rem 0 0 $accent-red !important;            
                }
            }
        }

        .materialize-textarea {
            line-height: 1.5;
        }

        .character-counter {
            opacity: 0.6;
        }

        & > label:not(.label-icon).active {
            transform: translate( -0.75rem, -1.25rem ) scale(0.8);
            transform-origin: 0 0;
        }
    }

    button.small.btn-flat {
        @media #{$small-and-down} {
            width: 100%;
            padding: 1rem;
        }
    }
}