main {
    max-width: 100vw;
    overflow: hidden;
}

section {
    width: 100%;
    background: $white;
    position: relative;

    &.light {
        background: $light;
    }
}

.container {
    width: 100%;
    max-width: 90rem;
    padding: 0 1.25rem;
    box-sizing: border-box;
    position: relative;
    z-index: 10;

    @media #{$small-and-down} {
        padding: 0;
    }
}

.row {
    margin-bottom: 0;

    &.centered {
        @media #{$medium-and-up} {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            &:after {
                display: none;
            }

            .col {
                margin: 0;
            }
        }
    }

    .col {
        &.s12 {
            @media #{$small-and-down} {
                margin-top: 1.5rem;

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        &.m3-5 {
            @media #{$medium-and-up} {
                width: calc((100% / 3) - 1.25rem);
            }
        }

        &.l3-5 {
            @media #{$large-and-up} {
                width: calc((100% / 3) - 2.5rem);
            }
        }

        &.m5-5 {
            @media #{$medium-and-up} {
                width: calc(50% - 1.25rem);
            }
        }
        &.l5-5 {
            @media #{$large-and-up} {
                width: calc(50% - 2.5rem);
            }
        }
    }
}

.inner-padding {
    padding: 1.25rem;

    @media #{$medium-and-up} {
        padding: 2.5rem;
    }

    &-y {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;

        @media #{$medium-and-up} {
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
        }

        &-top {
            padding-top: 1.25rem;

            @media #{$medium-and-up} {
                padding-top: 2.5rem;
            }
        }

        &-bottom {
            padding-bottom: 1.25rem;

            @media #{$medium-and-up} {
                padding-bottom: 2.5rem;
            }
        }
    }

    &-x {
        padding-left: 1rem;
        padding-right: 1rem;

        @media #{$medium-and-up} {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        &-left {
            padding-left: 1rem;

            @media #{$medium-and-up} {
                padding-left: 2rem;
            }
        }

        &-right {
            padding-right: 1rem;

            @media #{$medium-and-up} {
                padding-right: 2rem;
            }
        }
    }
}

.top-list {
    padding: 2rem 1rem 1rem;
    background: $white;
    box-shadow: 0 0.125rem 0.25rem rgba( $primary, 0.05 );

    @media #{$medium-and-up} {
        padding: 2rem 2.5rem 2.5rem;
    }

    ul {
        margin: 1rem 0 0;

        @media #{$small-and-down} {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        li {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            align-items: flex-end;

            @media #{$small-and-down} {
                width: calc( 50% - 0.5rem);
                margin-bottom: 1rem;
            }

            @media #{$medium-and-up} {
                flex-flow: row wrap;
                padding: 0.75rem 0;
                border-bottom: 0.0625rem solid rgba( $accent, 0.1 );
            }

            .image {
                @media #{$small-and-down} {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin: 2rem 0 0.5rem;
                }

                @media #{$medium-and-up} {
                    align-self: center;
                    max-width: 7rem;
                }

                img {
                    height: auto;
                    margin: 0;
                    padding: 0;
                    vertical-align: text-bottom;
                }
            }

            .content {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: baseline;
                min-width: 66%;
                max-width: 100%;

                @media #{$small-and-down} {
                    flex-flow: column wrap;
                    justify-content: center;
                    align-items: center;
                    min-width: 100%;
                }
            }

            span {
                padding: 1rem 2rem;
                line-height: 1.125rem;
                font-weight: 700;
                font-size: 1.125rem;
                color: $primary;

                @media #{$small-and-down} {
                    // padding: 0;
                }
            }

            .button {
                max-width: 8rem;

                @media #{$small-and-down} {
                    min-width: 100%;
                }
            }

            &:last-child {
                @media #{$medium-and-up} {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: 0;
                }
            }
        }
    }
}

.usp-item {
    padding-right: 1.5rem;
    box-sizing: border-box;

    p {
        margin: 0;
    }
}

.tip {
    margin-bottom: 1rem;
    background: $primary;

    h3 {
        margin: 0;
        padding: 0;
        font-weight: 400;
        color: $white;

        br {
            @media #{$small-and-down} {
                display: none;
            }
        }
    }
}

.best-list {
    padding: 2rem 2.5rem 2.5rem;
    background: $accent;

    @media #{$small-and-down} {
        padding: 2rem 1rem 1rem;
    }

    .title {
        h2 {
            color: $white;
        }
    }

    ul {
        margin: 1rem 0 0;

        @media #{$small-and-down} {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        li {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            height: 5rem;
            margin-bottom: 0.75rem;
            padding: 0 0 0 1rem;

            background: $white;
            box-shadow: 0 0.125rem 0.25rem rgba( $primary, 0.05 );
            overflow: hidden;

            position: relative;

            @media #{$small-and-down} {
                flex-flow: column nowrap;
                height: auto;
                max-width: calc( 50% - 0.5rem );
                padding: 0;
                margin-bottom: 1rem;
            }

            img {
                align-self: center;
                max-width: 7rem;
                max-height: 4rem;
                width: auto;
                height: auto;
                margin: 0;
                padding: 0;
                vertical-align: text-bottom;

                @media #{$small-and-down} {
                    margin: 2rem 0 0.5rem;
                }
            }

            span {
                padding: 1rem 2rem;
                line-height: 1.125rem;
                font-weight: 700;
                font-size: 1.125rem;
                color: $primary;
            }

            .rating {
                @media #{$small-and-down} {
                    margin: 0 0 1rem;
                }

                i {
                    color: $accent;
                }
            }

            .button {
                @media #{$small-and-down} {
                    min-height: 0;
                }
            }

            &:last-child {
                @media #{$medium-and-up} {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: 0;
                }
            }
        }
    }
}

.offer-item {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    .content {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        padding: 1rem 0 2rem;

        @media #{$small-and-down} {
            align-items: center;
        }

        @media #{$large-and-up} {
            flex-flow: row wrap;
        }

        .image {
            margin-bottom: 1rem;

            @media #{$large-and-up} {
                max-width: 50%;
                margin: 0;
            }

            img {
                max-width: 100%;
                max-height: 4rem;
                height: auto;
            }
        }

        .price {
            display: flex;
            flex-flow: column wrap;
            max-width: 50%;
            min-width: 50%;

            @media #{$small-and-down} {
                align-items: center;
            }

            h1 {
                margin: 0 0 0.5rem;
                padding: 0;
                white-space: nowrap;
                line-height: 1.75rem;
                font-weight: 700;
                font-size: 1.75rem;
                color: $primary;

                @media #{$large-and-up} {
                    line-height: 2.25rem;
                    font-size: 2.25rem;
                }
            }

            span {
                line-height: 1.125rem;
                font-weight: 700;
                font-size: 1rem;
                color: $accent;
            }
        }
    }
}