.header-fixture {
    width: 100%;
    height: 5.5rem;

    @media #{$medium-and-up} {
        height: 7.125rem;
    }

    &.fixed {
        header.navbar {
            position: fixed;

            nav {
                box-shadow: 0 0.125rem 0.25rem rgba( $primary, 0.05 );
            }
        }
    }
}

header.navbar {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 900;

    @media #{$medium-and-up} {
        position: absolute;
    }
}

.sidenav {
    &-trigger {
        padding: 0 1rem;
        color: $primary;
    }

    li {
        height: auto;

        &.active {
            & > a {

            }
        }

        & > a {
            height: auto;
            padding: 1.5rem 2rem;

            line-height: 1rem;
            font-size: 1rem;
        }
    }
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: auto;

    background: $white;
    backdrop-filter: blur(0);
    box-shadow: none;

    z-index: 100;
    position: absolute;
    top: 0;

    .sidenav {
        &-trigger {
            margin: 0;
            padding: 0 1rem;
        }
    }

    .nav-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 0 1rem;

        @media #{$large-and-up} {
            align-items: flex-end;
            padding: 0 1rem;
        }

        .logo {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            padding: 1.5rem 0;

            @media #{$medium-and-up} {
                padding: 1.5rem 0;
            }

            .logomark {
                width: 2.5rem;
                height: 2.5rem;
                margin-right: 1rem;

                @media #{$medium-and-up} {
                    width: 4.125rem;
                    height: 4.125rem;
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .wordmark {
                display: flex;
                flex-flow: column wrap;

                span {
                    margin: 0;
                    padding: 0;
                    font-size: 1.25rem;
                    line-height: 1.25rem;
                    color: $primary;

                    @media #{$medium-and-up} {
                        font-size: 1.875rem;
                        line-height: 1.875rem;
                    }

                    &:last-child {
                        font-weight: 700;
                        color: $accent;
                    }
                }
            }
        }

        ul {
            display: flex;
            flex-flow: row wrap;
            margin-right: -1.25rem;
            padding: 0 0 1rem;

            li {
                display: flex;
                flex-flow: column wrap;

                &.active,
                &:hover {
                    background: none;

                    a {
                        background: none;
                    }
                }

                &.active a {
                    text-decoration: underline;
                }

                a {
                    margin: 0;
                    padding: 1rem 1.25rem;

                    line-height: 1.125rem;
                    font-weight: 700;
                    font-size: 1.125rem;
                    color: $primary;

                    position: relative;
                }
            }
        }
    }
}