// Color settings
$primary:           #351a97;
$accent:            #4366ae;
$accent-green:      #7bc116;
$accent-red:        #ff0000;
$font:              #454545;

$white:             #ffffff;
$light:             #f1f6f8;
$medium:            #ecf3f6;
$dark:              #454545;

$transition:        all 240ms ease-out;
$transition-cubic:  all 160ms cubic-bezier(0.645, 0.065, 0.375, 1.010);