$font-primary: 'Roboto', sans-serif;

h1, h2, h3, h4, h5 {
    margin-top: 0;
}

h1 {
    margin-bottom: 1.5rem;
    line-height: 2.125rem;
    font-family: $font-primary;
    font-weight: 600;
    font-size: 1.75rem;
    color: $accent;

    @media #{$medium-and-up} {
        line-height: 2.25rem;
        font-size: 2rem;
    }
}

h2 {
    margin-bottom: 1.25rem;
    line-height: 2rem;
    font-family: $font-primary;
    font-weight: 600;
    font-size: 1.5rem;
    color: $accent;

    @media #{$medium-and-up} {
        line-height: 2.5rem;
        font-size: 1.875rem;
    }
}

h3 {
    margin-bottom: 0.5rem;
    line-height: 1.75rem;
    font-family: $font-primary;
    font-weight: 600;
    font-size: 1.25rem;
    color: $accent;

    @media #{$medium-and-up} {
        line-height: 2rem;
        font-size: 1.5rem;
    }
}

h4 {
    line-height: 1.75rem;
    font-weight: 700;
    font-size: 1.25rem;
    color: $primary;
}

p {
    margin: 0 0 1rem;
    line-height: 1.5rem;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 1.125rem;
    color: $accent;

    a {
        text-decoration: none;
        font-weight: 600;
        color: $primary;

        &:hover {
            text-decoration: underline;
            color: $primary;
        }
    }
}

blockquote {
    text-align: center;
    line-height: 2.25rem;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 1.875rem;
    color: $font;
}

.title {
    &-page {
        margin: 0;
        padding: 1rem 0 2rem;
        line-height: 3.5rem;
        font-family: $font-primary;
        font-weight: 700;
        font-size: 2.75rem;

        @media #{$medium-and-up} {
            padding: 1.5rem 0 2.5rem;
            line-height: 7.5rem;
            font-size: 6.25rem;
        }

        span.accent-orange {
            font-family: "helvetica", "arial", sans-serif;
        }
    }
}

.italic {
    font-style: italic;
}

.title {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    margin-bottom: 0.5rem;

    i.far,
    i.fas {
        margin-right: 0.75rem;
        font-size: 1.5rem;
        color: $primary;
    }

    h1, h2, h3, h4 {
        margin: 0 0.75rem 0 0;
    }

    span {
        color: $accent;
    }
}